# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# --- Streamlit ---
.streamlit/config.toml
.streamlit/secrets.toml

# --- Données et Audio ---
# Ne pas uploader les fichiers audio de test pour économiser de l'espace
*.mp3
*.wav
*.flac
*.m4a

# --- OS (Système) ---
.DS_Store
Thumbs.db
.ipynb_checkpoints/

# --- IDE (Éditeurs de code) ---
.vscode/
.idea/
*.swp
